* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border: none;
}
div {
    border: 1px solid green;
    flex: 1 0 0;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}

#container div {
    display: flex;
    
}

body {
    display: flex;
    gap: 20px;
}
#btnStart {
    color: white;
    font-weight: 200;
    font-size: 50px;
    background-color: blue;
    text-align: center;
    width: 200px;
    flex: 0 0 auto;
    border: none;
    border-radius: 50%;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}