* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

#clear {
  color: white;
  background-color: red;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    user-select: none;
}

div div div {
    flex: 1 0 0;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}

#container div {
    display: flex;
}

#header {
    padding: 30px 0;
}

#title {
    font-size: 6rem;
    text-align: center;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 200px;
}

#settings button, input {
    width: 200px;
    height: 40px;
    font-size: large;
}

#sizeValue {
    font-weight: bold;
    font-size: large;
    margin-bottom: -10px;
    margin-top: 20px;
}

#save {
  background-color: rgb(93, 246, 119);
}

input[type='color'] {
    width: 60px;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: none;
    padding: 2px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: white;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: black;
  }

input[type='range']:hover {
    transform: none;
}

button:focus {
    background-color: black;
    color: white;
}

button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: bold;
}

button:hover, input:hover {
    transform: scale(1.05);
}

button, input[type='color'] {
    transition: transform 0.1s ease-in-out;
}


/* MEDIA QUERIES */

@media (max-width: 1200px) {
    #main {
      justify-content: center;
    }
  }
  
  @media (max-width: 850px) {
    #main {
        justify-content: center;
    }
  
    #container {
      width: 400px;
      height: 400px;
    }
  }
  
  @media (max-width: 650px) {
    #title {
      font-size: 50px;
    }
  
    #main {
      flex-direction: column;
    }
  
    #container {
      width: 300px;
      height: 300px;
    }
  }
  